.card {
    margin-bottom: 20px;
}

.card .card-body .controls{
    text-align: right
}

.card .card-body .controls a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.card .card-body .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

